<html>

<head>
    <meta charset="utf-8">
    <title>"ಅಲರ್ / English to Kannada dictionary."</title>
    <meta name="description" value="ಅಲರ್ / English to Kannada dictionary.">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <link rel="image_src" href="https://alar.ink/static/thumb.png">
    <meta property="og:image" content="https://alar.ink/static/thumb.png">
    <link rel="shortcut icon" href="https://alar.ink/static/favicon.png" type="image/x-icon">

    <link href="/static/flexit.css" rel="stylesheet" type="text/css">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body class="{{ body_class | default('') }}">
    <div class="container wrap">
        <header class="header">
            <div class="row">
                <div class="logo four columns">
                    <a href="/"><img src="/static/logo.svg" alt="Alar logo"
                            title="Alar: Kannada - English dictionary"></a>
                    <div class="taglines">
                        <p class="tagline-native">
                            ಶ್ರೀ. ವಿ. ಕೃಷ್ಣ ಅವರ ಕನ್ನಡ - ಇಂಗ್ಲಿಷ್ ನಿಘಂಟು
                        </p>
                        <p class="tagline-english">
                            <strong><em>“Alar”</em></strong> V. Krishna's Kannada
                            → English dictionary
                        </p>
                    </div>
                </div>
                <div class="search eight columns">
                    <form class="search-form" method="get" action="/dictionary/english/kannada">
                        <div>
                            <input autofocus="" autocomplete="off" placeholder="eg: intelligence; loss of hearing"
                                type="text" id="searchword" name="searchword" value="{{ data.search_query if data }}" required>
                            <button type="submit"><img src="/static/search.svg" alt="Search"></button>
                        </div>
                    </form>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

        <div id="fakelog"></div>
        <nav class="nav">
            <a href="/pages/about">ಬಗ್ಗೆ (About)</a>
        </nav>
    </div>
    <footer class="footer">
        Data © V. Krishna <span class="slash">•</span>
        <a href="https://github.com/knadh/dictmaker">built with dictmaker</a> <span class="slash">•</span>
    </footer>
    <script src="/static/autocomplete.js"></script>
    <script src="/static/global.js"></script>
</body>

</html>